.body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5px 10px 1px;
  user-select: none;
}

.carousel-container {
  width: 95%;
  max-width: 1000px;
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
  /* padding: 0 50px; */
}

.carousel {
  display: flex;
  gap: 5px;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  gap: 1px;
}

.carousel-item button {
  padding: 7px;
  background: #f2f2f2;
  color: #030303;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  height: 25px;
  border: 0px;

  transition: border-radius 0.4s ease-in-out, background-color 0.1s ease-in-out,
    fill 0.1s ease-in-out;
}

.carousel-btn-start {
  border-radius: 3px 20px 20px 3px;
}
.carousel-btn-middle {
  border-radius: 3px;
}
.carousel-btn-end {
  border-radius: 20px 3px 3px 20px;
}
.carousel-btn-start,
.carousel-btn-middle,
.carousel-btn-end {
  background-color: #f2f2f2;
  cursor: pointer;
}

.carousel-btn-start:hover,
.carousel-btn-end:hover {
  background-color: #eb8317;
  transition: border-radius 0.2s ease-in-out;
}
.carousel-btn-middle:hover {
  background-color: #eb8317;
  transition: border-radius 0.4s ease-in-out;
}
#font-size:hover {
  border-radius: 4px;
  background-color: #f2f2f2;
}
#font-naskh {
  font-size: 22px;
}
#font-alexandria {
  font-size: 13px;
}
.carousel-btn-start:active,
.carousel-btn-middle:active,
.carousel-btn-end:active {
  border-radius: 30px;
}
.carousel-item .active {
  border-radius: 50px;
  background-color: #eb8317;
}

/* COLOR ACCENT */
#color-selector {
  gap: 4px;
}
#color-selector button {
  width: 25px;
  border: 0px solid #f2f2f2;
  /* 1. Define a CSS variable for the bouncy timing function */
  --bounce-timing: cubic-bezier(0.68, -0.55, 0.27, 1.55);

  transition: border-radius 0.2s ease-in-out, width 0.4s var(--bounce-timing),
    transform 0.5s var(--bounce-timing);
}
#color-selector button:active {
  width: 60px;
  border: 0px;
  border-color: transparent;
  /* 3. Add "scale" to make the button "pop" when pressed */
  transform: scale(1.01);

  transition: border-radius 0.2s ease-in-out, width 0.4s var(--bounce-timing),
    transform 0.5s var(--bounce-timing);
}
#color-selector #default {
  background-color: rgb(166, 166, 166);
}
#orange {
  background-color: #eb8317;
}
#red {
  background-color: rgb(219, 62, 62);
}
#blue {
  background-color: rgb(18, 108, 211);
}
#green {
  background-color: rgb(0, 195, 68);
}
#pink {
  background-color: rgb(196, 64, 189);
}
