/* INK */
@font-face {
  font-family: "Ink";
  src: url("fonts/ink.otf");
  unicode-range: U+0621-064A, U+064B-065F, U+0670-06D3, U+06D5, U+06D6-06E8,
    U+FB50-FDFF, U+FE70-FEFF;
}
@font-face {
  font-family: "Ink";
  src: url("fonts/Glaciels.otf");
}

/* INK-2 */
@font-face {
  font-family: "Ink-2";
  src: url("fonts/ink-2.otf");
}
@font-face {
  font-family: "Ink-2";
  src: url("fonts/Glaciels.otf");
}

/* TEST */
@font-face {
  font-family: Naskh;
  src: url("fonts/JH_Naskh_Expanded_Medium.otf");
}

@font-face {
  font-family: Gunship;
  src: url("fonts/gun4f.ttf");
}

@font-face {
  font-family: GunshipS;
  src: url("fonts/gun4fs.ttf");
}

@font-face {
  font-family: GunshipC;
  src: url("fonts/gun4fc.ttf");
}

/* -------------------------------
   1. عناصر بخط "Ink"
--------------------------------*/
.title {
  font-family: "Ink";
  color: #ffffff;
  font-weight: bolder;
  font-size: 35px;
  /* text-shadow: 2px 5px 10px #000000; */
}

.chapter-title-in-list {
  font-family: "Ink";
  font-size: 16px;
  color: #ccc;
}

#title-btn {
  font-family: "Naskh";
  font-size: 14px;
}

/* -------------------------------
   2. عناصر بخط "ink-2"
--------------------------------*/
.x {
  font-family: "ink-2";
  font-size: 14px;
}

/* -------------------------------
   3. عناصر بخط "Playpen Sans Arabic"
--------------------------------*/
.chapter,
.info-container .info {
  font-family: "Playpen Sans Arabic", cursive;
  font-style: normal;
}

/* -------------------------------
   4. عناصر بخط "Alexandria"
--------------------------------*/
.dash,
.chapter-number {
  font-family: "Alexandria";
  font-size: 17px;
  color: #ccc;
}

#word-count,
#font-size,
#gear {
  font-family: "Alexandria";
  font-size: 12px;
  font-weight: 400;
}

#chapter-title {
  font-size: 34px;
}

/* -------------------------------
   4. Comments section
--------------------------------*/
.comment-textarea:focus,
.reply-textarea:focus {
  color: rgb(120, 120, 120);
}
.comment-textarea,
.reply-textarea,
.edit-textarea {
  color: rgb(120, 120, 120);
  font-family: inherit;
  font-size: 14px;
}
.comment-author {
  color: rgb(120, 120, 120);
}
