html {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  /* STYLING */
  background-color: black;

  /* MARGIN */
  margin: 0 10px 0 10px;

  padding: 0 0 0 0;

  /* prevent tap highlight */

  -webkit-tap-highlight-color: transparent;
}
p {
  color: rgb(166, 166, 166);
  line-height: 2;
}
p + p {
  margin-top: 2em; /* Adjust the value as needed */
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 25px;
}

/* FONTS */
.chapter,
.info-container .info {
  background-color: rgb(36, 36, 36);
  border-radius: 5px 5px 5px 5px;
  padding: 0 3% 0 3%;
}

#chapter-text {
  padding: 8px;
  margin-bottom: 2px;
}
