html {
  margin: 45px 3px 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  /* STYLING */
  background-color: black;

  /* MARGIN */
  margin: 0 auto;
  max-width: 1200px;

  padding: 0;

  /* prevent tap highlight */

  -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
  display: none;
}
p {
  color: rgb(166, 166, 166);
  line-height: 2;
}
p + p {
  margin-top: 2em; /* Adjust the value as needed */
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 25px;
}

/* FONTS */
.chapter,
.info-container .info {
  background-color: rgb(36, 36, 36);
  border-radius: 5px 5px 5px 5px;
  padding: 0 3%;
}

#chapter-text {
  padding: 8px;
  margin-bottom: 2px;
}

h3,
.chapter-item,
.novel-item,
.novel-chapter-count,
.font-tools-popup,
.card-img,
.quote-modal-content {
  /* GLASS EFFECT 3D */
  /* border: 1px solid rgba(255, 255, 255, 0.068);
  background-color: rgba(var(--bg-color-dark-rgb), 0.9);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.3),
    inset -2px -2px 2px 1px rgba(255, 255, 255, 0.3),
    0 4px 8px 0 rgba(0, 0, 0, 0.2); */

  /* FROSTED EFFECT 2D */
  /* background-color: rgba(var(--bg-color-dark-rgb), 0.9);
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.3),
    inset -2px -2px 2px 1px rgba(255, 255, 255, 0.3),
    0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); */

  /* DARK GLASS EFFECT 2D */
  /* border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(8px) saturate(180%);
  -webkit-backdrop-filter: blur(8px) saturate(180%);

  background: rgba(20, 20, 20, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.1),
    0 4px 12px rgba(0, 0, 0, 0.6); */

  /* MOST GLASSY  3D*/
  border: 1px solid rgba(255, 255, 255, 0.068);
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.2),
    inset -2px -2px 2px 1px rgba(255, 255, 255, 0.2),
    0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
}

/* BUTTONS */
#mode-selector,
#title-btn,
#comments-btn,
#font-panel-btn,
#word-count,
#prev-btn,
#next-btn,
#download-quote-btn,
.quote-modal-content,
#quote-options-panel {
  border: 1px solid rgba(255, 255, 255, 0.068);
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.1),
    inset -2px -2px 2px 1px rgba(255, 255, 255, 0.1),
    0 4px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  z-index: 9999;
}

.loader {
  width: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
