.title {
  color: #ffffff;
  /* font-family: Arizonia; */
  font-family: Ink;
  font-weight: bolder;
  text-shadow: 2px 5px 10px #000000;
  margin: 0px 0px 0px 0px;
  user-select: none;

  font-size: 35px;
  padding: 10px 0;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #FFDA77; */
  border-radius: 20px;
  background-size: cover;
  user-select: none;
}
