/* Spinner styles */
.spinner {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  animation: spin 1s ease infinite;
  margin: 20px auto;
  display: none; /* Hidden by default */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chapter {
  font-size: 20px;
  display: flex;
  flex-direction: column;

  /* ِANIMATION */
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.chapter.is-loading {
  opacity: 0;
  transform: translateY(20px);
}
.chapter,
.info {
  font-size: 18px;
}

/* إضافة الانتقال السلس لحجم الخط هنا */
#chapter-text {
  #chapter-text {
  }
  transition: font-size 0.3s ease-in-out;
}
#info-wrapper {
  transition: font-size 0.3s ease-in-out;
}
/* ------------------------------------------- */

strong {
  /* color: #d9534f; */
  /* color: #eb8517; */
}

.date {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin: 5px 0 10px 0;

  user-select: none;
}
.date p {
  margin: 0;
}
.zeus {
  width: 255x;
  height: 25px;
  border-radius: 50%;
  /* outline: 1px solid #eb8517; */
  outline-offset: 2px;
  margin-left: 10px;
}

.main-header-container {
  margin: 0px 0 2px 0;
  background-color: rgb(36, 36, 36);
  border-radius: 25px 25px 5px 5px;
  padding: 0 3% 10% 3%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(166, 166, 166);
}

.info-container {
  overflow: hidden;
  display: grid;
  position: relative;
}

.info-container .info {
  max-height: 40px;

  /* إخفاء أي محتوى يتجاوز الـ 100px */
  overflow: hidden;
  border-radius: 5px;
  transition: max-height 0.5s ease-in-out;
}
.info-container .info {
  border-radius: 5px 5px 20px 20px;
  margin-bottom: 20px;
}

#expand-info {
  user-select: none;
  cursor: pointer;
}

/* //////////////////////////////////// */
.main-content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* DESCRIPTION */
.story-description {
  padding-top: 40px;
}
