.chaper,
.support,
.info {
  margin: 1px 0 4px 0;
  background-color: rgb(36, 36, 36);

  /* height: 2950px; */
  border-radius: 5px 5px 5px 5px;
  padding: 0 3% 0 2%;
  font-size: 20px;
  display: flex;
  flex-direction: column;

  /* FONTS */
  font-family: "Playpen Sans Arabic", cursive;
  font-weight: 800px;
  font-style: normal;
}
p {
  margin: 7px 0 7px 0;
}
strong {
  /* color: #d9534f; */
  color: #eb8517;
}
.chapter-title {
  padding: 15px 0 0 0;
  margin: 0;

  /* FONTS */
  font-family: "Playpen Sans Arabic", cursive;
  font-weight: 800px;
  font-style: normal;
}
.date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0 10px 0;
}
.date p {
  margin: 0;
}
.zeus {
  width: 255x;
  height: 25px;
  border-radius: 50%;
  outline: 1px solid #eb8517;
  outline-offset: 2px;
}
.pre-nex {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2px;
}
.next,
.previous {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px 6px 10px;
  border: 0px;
  background-color: silver;
  transition: border-radius 0.1s ease-out;
  cursor: pointer;
}
.next:hover,
.previous:hover {
  color: rgb(226, 226, 226);
  background-color: #eb8517;
  color: (226, 226, 226);
}
.next {
  border-radius: 3px 20px 20px 3px;
}
.next:active {
  border-radius: 15px;
}
.previous {
  border-radius: 20px 3px 3px 20px;
}
.previous:active {
  border-radius: 15px;
}
.main-header-container {
  margin: 15px 0 3px 0;
  background-color: rgb(36, 36, 36);
  border-radius: 25px 25px 5px 5px;
  padding: 0 3% 3% 3%;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(166, 166, 166);
}
.info {
  margin: 1px 0 4px 0;
  background-color: rgb(36, 36, 36);

  /* height: 2950px; */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding: 0% 3% 0 0;
  border-radius: 5px 5px 20px 20px;
  margin-bottom: 19px auto;
}
.info-container {
  overflow: hidden;
  display: grid;
  position: relative;
}

.support-container {
  overflow: hidden;
  position: relative;
  display: grid;
}
.support,
.info-container .info {
  /* الارتفاع الأولي الثابت الذي طلبته */
  max-height: 40px;

  /* إخفاء أي محتوى يتجاوز الـ 100px */
  overflow: hidden;

  transition: max-height 0.5s ease-in-out;
}
.toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 1px;
  margin-top: 2px;

  display: none;
}
.toggle-btn .arrow {
  display: inline-block;
  margin-left: 8px; /* في العربي نستخدم margin-left */
  /* حركة ناعمة لتدوير السهم */
  transition: transform 0.3s;
}
/* 5. كلاس يجعل السهم يلف 180 درجة */
.toggle-btn.active .arrow {
  transform: rotate(180deg);
}
#expand-info,
#expand-support {
  user-select: none;
  cursor: pointer;
}
