#gear {
  width: 60px;

  /* لضبط الرقم في المنتصف */
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  border-radius: 25px;

  user-select: none;

  cursor: none; /* سهم أعلى وأسفل */

  --bounce-timing: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  transition: border-radius 0.2s ease-in-out, width 0.4s var(--bounce-timing),
    transform 0.2s var(--bounce-timing);
}

#gear:active {
  width: 80px;

  /* 3. Add "scale" to make the button "pop" when pressed */
  transform: scale(1.01);

  transition: border-radius 0.2s ease-in-out, width 0.4s var(--bounce-timing),
    transform 0.2s var(--bounce-timing);
}
