<h3>قائمة الفصول</h3>
<div id="chapter-list">
  <a href="#" class="chapter-item" data-chapter-id="1766">
    <img class="chapter-item-img" src="img/card.jpg" alt="Chapter Image">
    <div class="chapter-item-details">
      <div class="chapter-item-header">
        <p class="novel-title">سيد الحقيقة</p>
      </div>
      <div class="chapter-item-body">
        <span class="chapter-number">1766</span>
        <span class="dash">-</span>
        <span class="chapter-title-in-list">ازمة الجيش الاول</span>
      </div>
    </div>
  </a>
  <a href="#" class="chapter-item" data-chapter-id="1767">
    <img class="chapter-item-img" src="img/card.jpg" alt="Chapter Image">
    <div class="chapter-item-details">
      <div class="chapter-item-header">
        <p class="novel-title">سيد الحقيقة</p>
      </div>
      <div class="chapter-item-body">
        <span class="chapter-number">1767</span>
        <span class="dash">-</span>
        <span class="chapter-title-in-list">التشكيل الحي</span>
      </div>
    </div>
  </a>
  <a href="#" class="chapter-item" data-chapter-id="1768">
    <img class="chapter-item-img" src="img/card.jpg" alt="Chapter Image">
    <div class="chapter-item-details">
      <div class="chapter-item-header">
        <p class="novel-title">سيد الحقيقة</p>
      </div>
      <div class="chapter-item-body">
        <span class="chapter-number">1768</span>
        <span class="dash">-</span>
        <span class="chapter-title-in-list">تطور معارك الجنوب-1</span>
      </div>
    </div>
  </a>
  <!-- ... more chapters here ... -->
</div>