<h3>قائمة الفصول</h3>
<div id="chapter-list">
  <div class="card">
    <img class="card-img" src="img/card.jpg" />
  </div>
  <div>
    <button class="list-item" href="#" id="1766">
      <span class="chapter-number">1766</span>
      <span class="dash">-</span>
      <span class="chapter-title-in-list">ازمة الجيش الاول</span>
    </button>
    <button class="list-item" href="#" id="1767">
      <span class="chapter-number">1767</span>
      <span class="dash">-</span>
      <span class="chapter-title-in-list">التشكيل الحي</span>
    </button>
    <button class="list-item" href="#" id="1766">
      <span class="chapter-number">1766</span>
      <span class="dash">-</span>
      <span class="chapter-title-in-list">ازمة الجيش الاول</span>
    </button>
    <button class="list-item" href="#" id="1767">
      <span class="chapter-number">1767</span>
      <span class="dash">-</span>
      <span class="chapter-title-in-list">التشكيل الحي</span>
    </button>
    <button class="list-item" href="#" id="1766">
      <span class="chapter-number">1766</span>
      <span class="dash">-</span>
      <span class="chapter-title-in-list">ازمة الجيش الاول</span>
    </button>
    <button class="list-item" href="#" id="1767">
      <span class="chapter-number">1767</span>
      <span class="dash">-</span>
      <span class="chapter-title-in-list">التشكيل الحي</span>
    </button>
    <button class="list-item" href="#" id="1766">
      <span class="chapter-number">1766</span>
      <span class="dash">-</span>
      <span class="chapter-title-in-list">ازمة الجيش الاول</span>
    </button>
    <button class="list-item" href="#" id="1767">
      <span class="chapter-number">1767</span>
      <span class="dash">-</span>
      <span class="chapter-title-in-list">التشكيل الحي</span>
    </button>
  </div>
</div>
