/* Base layout for carousel */
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 5px 10px 0;
  user-select: none;

  /* STICK CAROUSEL */
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
}

.carousel-container {
  width: 100%;
  max-width: 1150px;
  border-radius: 0;
  box-shadow: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  position: relative;
  overflow: hidden;
}

.carousel {
  display: flex;
  gap: 5px;
  scroll-behavior: smooth;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}
