<div class="carousel-item" id="font-selector">
  <button
    class="carousel-btn-start"
    id="font-alexandria"
    style="font-family: Alexandria; font-weight: 350"
  >
    الاسكندريه
  </button>
  <button
    class="carousel-btn-middle"
    id="font-el-messiri"
    style="font-family: 'El Messiri', sans-serif"
  >
    المسيري
  </button>
  <button
    class="carousel-btn-middle active"
    id="font-playpen"
    style="font-family: 'Playpen Sans Arabic', cursive"
  >
    بلايبن
  </button>
  <button
    class="carousel-btn-middle"
    id="font-Ink"
    style="font-family: 'Ink', serif"
  >
    حبر
  </button>
  <button
    class="carousel-btn-end"
    id="font-naskh"
    style="font-family: 'Naskh', sans-serif"
  >
    نسخ
  </button>
</div>
